<div class="container">
  <div style="text-align:center">
    <h1>{{ title }}</h1>
  </div>

  <div>
    <textarea type="text" id="json" rows="15" cols="38" class="form-group input-lg" [(ngModel)]="json"></textarea>
    <button type="button" class="btn btn-primary" (click)=convert()>Convert</button>
    <textarea id="csv" rows="15" cols="38" class="form-group input-lg">{{csv}}</textarea>
    <button type="button" class="btn btn-primary" (click)="downloadFile()">Download</button>
  </div>
  <input class="input" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".json">

  <button type="button" class="btn btn-primary" (click)=convert2()>Convert File</button>
</div>